/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Navbar */
.navbar {
  background-color: white;
  /* border-bottom: 1px solid #e5e7eb; */
  padding: 14px;
}

.navbarr {
  background-color: black;
  /* border-bottom: 1px solid #e5e7eb; */
  padding: 14px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-containerr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
}

.get {
  display: flex;
  gap: 8px;
}

.phone {
  display: flex;
  gap: 8px;
}

.menu-button-container {
  display: block;
  margin: auto;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links {
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  
}

.nav-items {
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #1f2937;
  font-size: 16px;
  font-weight: 600;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1f2937;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.dropdown-icon {
  margin-left: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 200px;
  z-index: 1000;
  padding: 10px;
}

.dropdown-menu .dropdown-item {
  display: block;
  padding: 10px;
  color: #1f2937;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #f9fafb;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #1f2937;
}

.logout-button {
  background: none;
  border: none;
  color: #1f2937;
  cursor: pointer;
}

.login-register {
  display: flex;
  gap: 10px;
}

.login-button {
  text-decoration: none;
  color: #2f945c;
  /* border-color: #2F945C; */
  border: 1px solid #2f945c;
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.register-button {
  text-decoration: none;
  color: white;
  background-color: #2f945c;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.login-button:hover {
  background-color: #2f945c;
  color: white;
}

.register-button:hover {
  background-color: white;
  color: #2f945c;
  border: 1px solid #2f945c;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
}

.mobile-menu.active {
  display: block;
}

.mobile-nav-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-nav-link {
  text-decoration: none;
  color: #1f2937;
  font-size: 16px;
  font-weight: bold;
  display: block;
}

.separator {
  border: 0;
  height: 1px;
  background-color: #e5e7eb;
  margin: 10px 0;
}

.mobile-dropdown {
  position: relative;
}

.mobile-dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.mobile-dropdown-icon {
  transition: transform 0.3s;
}

.mobile-dropdown-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.mobile-dropdown-item {
  text-decoration: none;
  color: #1f2937;
  font-size: 16px;
  font-weight: normal;
}

.mobile-auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-user-link {
  text-decoration: none;
  color: #1f2937;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mobile-logout-button {
  background: none;
  border: none;
  color: #1f2937;
  cursor: pointer;
}

.mobile-login-register {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile-login-button {
  text-decoration: none;
  color: #2f945c;
  background-color: white;
  border: 1px solid #2f945c;

  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.mobile-register-button {
  text-decoration: none;
  color: white;
  background-color: #2f945c;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.mobile-login-button:hover {
  color: white;
  background-color: #2f945c;
}

.mobile-register-button:hover {
  background-color: white;
  color: #2f945c;
  border: 1px solid #2f945c;
}



/* Responsive Design */
@media (max-width: 967px) {
  .navbar-container {
    flex-direction: column;
  }

  .menu-button-container {
    display: none;
  }

  .navbar-links {
    display: block;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 769px) {
  .get {
    display: none;
  }
}

/* Container styles */
.relative-container {
  position: flex;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 10;

  border-radius: 12px;
}

/* Image container styles */
.image-container {
  padding-bottom: 20px;
  /* position: relative; */
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
}

/* Background image styles */
.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop {
  z-index: 10;
  display: flex;
  text-decoration: none;
  color: white;
  background-color: #2f945c;
  padding: 14px 16px;
  width: fit-content;
  border: 1px solid #2f945c;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

/* Content container styles */
.content-container {
  max-width: 1280px;
  /* Similar to max-w-screen-xl */
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  padding-top: 150px;

  z-index: 10;
  /* Ensure text is above other content */
}

.summer {
  background-color: #fbbc05;
  /* background-color: #2F945C; */
  border-radius: 12px;
  padding: 4px 12px 2px 12px;
  z-index: 10;
  margin-top: -7%;
  width: fit-content;
}

.end {
  color: white;
}

/* Text content styles */
.text-content {
  display: flex;
  flex-direction: column;
  gap: 2%;
  height: 100%;
}

/* Welcome text styles */
.welcome-text {
  padding-top: 170px;
  font-size: 10px;
  font-weight: 50;
  z-index: 10;
  max-width: 300px;
  color: white;
  margin-top: -20%;
}

/* @media (min-width: 768px) {
    .welcome-text {
        font-size: 45px;  Adjust for medium and larger screens 
    } 
}*/

/* Underline styles */
.underline {
  background-color: #ffc107;
  /* Amber-400 color */
  height: 6px;
  width: 180px;
  z-index: 10;
}

/* @media (min-width: 768px) {
    .underline {
        width: 270px; 
    }
} */
/* Adjust for medium and larger screens */

/* Overlay styles */
.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.7;
}

.search {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* Container for the search input and button */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  /* Border around the search bar */
  border-radius: 5px;
  /* Rounded corners */
  overflow: hidden;
  /* Ensure no overflow */
  width: 100%;
  /* Full width */
  max-width: 400px;
  /* Maximum width for the search bar */
}

/* Search input styles */
.search-input {
  flex-grow: 1;
  /* Take up available space */
  border: none;
  /* Remove the default border */
  padding: 10px;
  /* Padding for the input */
  font-size: 16px;
  /* Font size */
  outline: none;
  /* Remove the focus outline */
}

/* Search button styles */
.search-button {
  background-color: transparent;
  /* No background */
  border: none;
  /* Remove the default border */
  padding: 10px;
  /* Padding around the icon */
  cursor: pointer;
  /* Pointer cursor on hover */
}

/* Search icon styles */
.search-icon {
  width: 20px;
  /* Size of the icon */
  height: 20px;
  /* Size of the icon */
}

.nav {
  margin-left: 10%;
  margin-top: 2%;
  font-weight: 600;
  font-size: 28px;
}

.sport {
  width: 1216px;
  height: 78px;
  top: 20px;
  margin-left: 10%;
}

.lust {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 11%;
  margin-top: 20px;
  font-weight: 15px;
  font-size: 15px;
}

.duffle {
  display: flex;
}

.duffleee {
  display: flex;
  margin-left: 110%;
  font-weight: 600;
  font-size: 28px;
  margin-top: 50%;
}

.lustt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  color: #2f945c;
  margin-top: 50%;
}

.dave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.icon {
  color: #2f945c;
  width: 15px;
  height: 15px;
  margin-top: 50%;
}

.backgroundimage2 {
  width: 596px;
  height: 770px;
  margin-left: 10%;
  margin-bottom: -1%;
  margin-top: 2%;
  position: relative;
  object-fit: cover;
}

.relative-container10 {
  margin-top: 20%;
  padding-bottom: 20px;
  position: relative;
  height: 100%;
  display: flex;
}

.shopp {
  z-index: 10;
  display: flex;
  text-decoration: none;
  color: white;
  background-color: #2f945c;
  padding: 14px 16px;
  width: fit-content;
  border: 1px solid #2f945c;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400 bold;
  margin-top: 20px;
}


.shopp2 {
  z-index: 10;
  display: flex;
  text-decoration: none;
  color: white;
  background-color: #2f945c;
  padding: 14px 16px;
  width: fit-content;
  border: 1px solid #2f945c;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400 bold;
  position: relative;
  top:260px;
  left: -25%;
}

.content-container10 {
  max-width: 1280px;
  /* Similar to max-w-screen-xl */
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  gap: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
  padding-top: 150px;

  z-index: 10;
  /* Ensure text is above other content */
}

.FastSelling {
  background-color: #fbbc05;
  /* background-color: #2F945C; */
  border-radius: 12px;
  padding: 4px 12px 2px 12px;
  z-index: 10;
  margin-top: -7%;
  width: fit-content;
}

.parttwo {
  display: flex;
  flex-direction: column;
  gap: 2%;
  height: 100%;
  padding-bottom: 20px;
  font-size: 11px;
  font-weight: 400;
  z-index: 10;
  max-width: 800px;
  color: white;
}

/* Text content styles */
.text-content {
  display: flex;
  flex-direction: column;
  gap: 2%;
  /* height: 100%; */
}

/* Welcome text styles */
.welcome-text {
  padding-top: 170px;
  font-size: 40px;
  font-weight: 600;
  z-index: 10;
  max-width: 300px;
  color: white;
  margin-top: 2%;
}

.backgroundimage3 {
  width: 596px;
  height: 373px;
  margin-left: 40%;
  margin-bottom: -1%;
  margin-top: 2%;
  /* position: absolute; */
  object-fit: cover;
  position: flex;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  /* z-index: 10; */
  padding-bottom: 20px;
  /* position: relative; */
  width: 50%;
  height: 50%;
  border-radius: 12px;
}

.backgroundimage4 {
  width: 596px;
  height: 373px;
  margin-left: 10%;
  margin-bottom: -1%;
  margin-top: 2%;
  /* position: absolute; */
  object-fit: cover;
  position: flex;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  /* z-index: 10; */
  padding-bottom: 20px;
  /* position: relative; */
  width: 50%;
  height: 50%;
  border-radius: 12px;
}

.john {
  align-items: center;
  margin-left: 2%;
  position: relative;
}

.imagecontainer10 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.imagecontainer2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.backwood {
  width: 596px;
  height: 373px;
  margin-top: 6.5%;
}

.arizona {
  width: 596px;
  height: 373px;
  margin-top: 2.5%;
}

.frames {
  z-index: 10;
  background-color: #fbbc05;
  padding: 4px 12px 4px 12px;
  width: 103px;
  height: 28px;
  border-radius: 12px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter";
}
.frame2 {
  z-index: 10;
  background-color: transparent;
  padding: 10px;
  border-radius: 20px;
  color: #fbbc05;
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter";
  border: 1px solid #fbbc05;
 position: absolute;
 top: -10px;
}


.firstframe {
  z-index: 10;
  position: absolute;
  top: 166%;
  left: 12%;
  /* gap: 8px;
    display: flex;
    flex-direction: column; */
}
.firstframe2 {
  z-index: 10;
  position: absolute;
  top: 16%;
  left: 12%;
  align-items: center;
    display: flex;
}

.welcometext {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
  padding-top: 153%;
}

.welcometext2 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 600;
  padding-top: 90%;
  width: 70%;
}

.partthree {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
}

.secondframe {
  z-index: 10;
  position: absolute;
  top: 32%;
  left: 5%;
  font-weight: 600;
   font-size: 40px;
     width: 80%;
  color: #ffffff;
}

.fresh-fruit {
  position: relative;
}
.thirdframe {
  z-index: 10;
  position: absolute;
  top: 58%;
  left: 5%;
  font-weight: 600;
   font-size: 48px;
     width: 80%;
  color: #ffffff;
}

.off1{
  background-color: #fbbc05;
  width: fit-content;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.off2{
  background-color: #fbbc05;
  width: fit-content;
  padding: 5px;
  border-radius: 20px;
  font-size: 20px;
  margin-bottom: 10px;
}

.partfour {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  margin-top: 10px;
}

.duffleeeR {
  color: black;
}

.duff {
  color: black;
  margin-left: 150px;
  margin-top: 40px;
  font-weight: 600;
  font-size: 28px;
}

button:hover {
  cursor: pointer;
}

.experiences {
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 24px;
  justify-content: center;
}
.experiences p {
  font-size: 14px;
  font-weight: 400;
}
#img-background {
  background-color: #e7f4ed;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
}

#img-background img {
  width: 50%;
}



.experiences .child1 {
  width: 300px;
}

.experiences .child1 h5 {
  margin-bottom: 4px;
}

.popular{
  color: black;
  margin-top: 40px;
  font-weight: 500;
 margin-bottom: 50px;
}

.popular h3{
 font-size: 28px;
 margin-bottom: 8px;
}
.product{
  display: grid;
   grid-template-columns: repeat(auto-fit, minmax(120px, 4fr));
  gap: 16px;
}
.product  img{
  height: 250px;
  width: 240px;
   margin-bottom: 8px;
}


.deliveries {
  width: 96%;
    color: rgb(255, 255, 255);
  margin-top: 40px;
  font-weight: 600;
 margin-bottom: 50px;
 background: rgb(47,150,94);
background: linear-gradient(143deg, rgba(47,150,94,1) 0%, rgba(24,210,94,1) 44%);
display: flex;
align-items: center;
justify-content: space-evenly;
padding: 20px;
margin: auto;
}


.deliveries-btn{
   display: flex;
  text-decoration: none;
  color: white;
  background-color: #2f945c;
  padding: 14px 16px;
  width: fit-content;
  border: 1px solid #2f945c;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400 bold;
  /* margin-left: 20px; */
}

.together{
    color: black;
  margin-top: 40px;
 margin-bottom: 50px;
 padding: 20px;
}

.footer{
    color: black;
  margin-top: 40px;
 margin-bottom: 50px;
 padding: 20px;
}

@media (min-width: 300px) {
  .menu-button{
    gap: 220px;
  }
   .background-image{
    width: 350px;
  height: 200%;
    border-radius: 12px;
  }
  
.content-container {
  height: 38%;
}

.summer {
  margin-top: -30%;
}
  .welcome-text {
  font-size: 30px;
  margin-top: -50%;
}
.sport {
  width: 100%;
  height: 150%;
  margin: auto;
}
.imagecontainer10{
  padding:20px;
}
.backgroundimage2 {
  width: 216px;
  height: 690px;
   margin-left: 0%;
}
.backwood {
  width: 226px;
  height: 340px;
  margin-top: 6.5%;
}
.arizona {
width: 226px;
 height: 340px;
  margin-top: 2.5%;
}
.welcometext{
  font-size: 30px;
  width: 40%;
}
.firstframe {
 left: 7%;
  top: 150%;

}
.partthree {
  color: #ffffff;
  font-weight: 400;
  width: 60%;
  font-size: 13px;
}
.welcometext {
  padding-top: 138%;
}
.secondframe {
  top: 18%;
}
.thirdframe {
  top: 28%;
  left: 5%;
}

.duff {
  color: black;
  margin-left: 20px;
  margin-top: 40px;
  font-weight: 600;
  font-size: 24px;
}
.experiences p, h5 {
 width: 70%;
}

.welcometext2 {
  font-size: 22px;
  font-weight: 600;
  padding-top: 60%;
  width: 50%;
}
.firstframe2 {
  z-index: 10;
  position: absolute;
  top: 18%;
  left: 8%;
  align-items: center;
    display: flex;
}
.shopp2 {
  width: fit-content;
  top:260px;
  left: -70%;
}

.secondframe {
  z-index: 10;
  position: absolute;
  top: 14%;
  left: 5%;
  font-weight: 600;
   font-size: 26px;
     width: 92%;
  color: #ffffff;
}
.thirdframe {
  top: 20%;
  left: 5%;
    font-size: 25px;
     width: 90%;
}
.product{
  display: grid;
   grid-template-columns: 2fr 1fr;
  gap: 10px;
}
.popular{
  padding: 20px;
}
.product img{
  height:200px;
  width: 200px;
}

 .deliveries h1{
font-size: 20px;
width: 100%;
}
.deliveries img{
width: 100px;
} 

.footer img{
  width: 130px;
}
.last{
  gap: 20px;
}
#logo{
  width: 40px;
}
.navbar-links{
  display: none;
}
.menu-button-container {
  display: block;
  margin: auto;
}
}




@media (min-width: 400px) {
  .menu-button{
    gap: 300px;
  }
  .background-image{
    width: 95%;
  height: 100%;
    border-radius: 8px;
  }
 

}



@media (min-width: 500px) {
  .menu-button{
    gap: 400px;
  }

      .background-image{
    width:96%;
  height: 100%;
    border-radius: 8px;
  }
.content-container {
  height: 48%;
}

.summer {
  margin-top: -20%;
}
 .deliveries h1{
width: 70%;
}

.backgroundimage2 {
  width: 50%;
  height: 680px;
}
.firstframe {
 left: 13%;
  top: 150%;

}

}

@media (min-width: 600px) {
  .menu-button{
    gap: 450px;
  }

    
        .background-image{
    width: 96%;
  height: 100%;
    border-radius: 8px;
  }
    
.content-container {
  height: 55%;
}

.summer {
  margin-top: 3%;
}
  .welcome-text {
  font-size: 42px;
  margin-top: -50%;
}
/* categories */
.backgroundimage2 {
  width: 50%;
  height: 680px;
}
.backwood {
  width: 100%;
  height: 340px;
  margin-top: 6.5%;
}
.arizona {
width: 100%;
 height: 340px;
  margin-top: 2.5%;
}
.welcometext {
  padding-top: 58%;
   font-size: 30px;
  width: 100%;
}

.firstframe {
 left: 7%;
  top: 180%;

}
.imagecontainer2{
  padding:20px;
}
.welcometext2 {
  font-size: 32px;
  font-weight: 600;
  padding-top: 23%;
  width: 80%;
}

.shopp2 {
  width: fit-content;
  top:200px;
  left: -80%;
}
.deliveries img{
width: 300px;
}
}


@media (min-width: 1200px) {
  .menu-button{
    gap: 450px;
  }
    
        .background-image{
    width: 96%;
  height: 100%;
    border-radius: 8px;
  }
    
.content-container {
  height: 55%;
}

.summer {
  margin-top: -20%;
}
  .welcome-text {
  font-size: 42px;
  margin-top: -50%;
}

.welcometext2 {
  font-size: 49px;
  font-weight: 600;
  padding-top: 20%;
  width: 90%;
}

.shopp2 {
  width: fit-content;
  top:230px;
  left: -85%;
}
 
/* categories */
.backgroundimage2 {
  width: 100%;
  height: 680px;
}
.backwood {
  width: 100%;
  height: 340px;
  margin-top: 6.5%;
}
.arizona {
width: 100%;
 height: 340px;
  margin-top: 2.5%;
}
.welcometext {
  padding-top: 58%;
   font-size: 50px;
  width: 100%;
}

.firstframe {
 left: 7%;
  top: 180%;

}
.imagecontainer2{
  padding:20px;
}
.popular{
  padding: 20px;
}
.product{
  display: flex;
  gap: 180px
}
.menu-button-container {
  display: none;
  margin: auto;
}
.navbar-links{
  display: flex; 
  /* visibility: visible; */
}

}